{% extends 'the/baabtra.html' %}
{% load static %}
{% block content %}
<div style="background-color: rgb(12, 114, 114); padding-left: 160px;">
    <br><br><br>
<h1 style="color: aliceblue; font-size: 44px; " >About Baabtra</h1>
<h4 style="color: aliceblue; font-size: 20px;">Baabtra is the skill development division of an IT company, Baabte System Technologies Pvt Ltd, which is a member of Cafit – <br> Calicut Forum For IT, National Association of Software Service Companies- <br> NASSCOM and Group of Technology Companies – Gtech</h4>
<br><br><br>
</div> 
<br><br>
<div style=" width: 400px; padding-left: 160px; float: left;">
<h2>Our Testimonials </h2>
<h1>What People Are Saying About Us</h1>
</div>
<div style="float: left;">
    <iframe width="560" style="width:250px ;" height="250" src="https://www.youtube.com/embed/K2xcNQoIDJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <iframe width="560" style="width: 250px;" height="250" src="https://www.youtube.com/embed/hVl-Ju_C4Ho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <table style="width: 500px;" >
 <tr> 
  <td> Sreedika <br>
    FORMER STUDENT, BAABTRA </td> 
    <br><br>
    <td  >Angitha John <br>
        FORMER STUDENT</td>
        </tr>
        </table>
</div>
<div   style="padding-left: 100px; float: left; " >
<img src="{% static 'images/lpic.PNG' %}" style="width: 700px; " alt="">
<h2>Baabtra helps a software job seeker to get skilled in <br> technologies like Php, Python, Angular 4 etc and to <br> get placed in Software Companies.</h2>
<br>
<h4>Baabtra, the best software training company in Calicut has proved its <br> expertise by training and placing several hundreds of students both in <br> MNC’s like UST Global, Infosys, Oracle etc and SME’s like Nucore <br> Software Solutions, Sesame, IOSS, ULTS and many other companies <br> mainly in Kozhikode, Cochin, Trivandrum and Bangalore.</h4>
</div>
<div style="width: 280px; float: left; ">
    <img src="{% static 'images/lpic2.PNG' %}" alt="">
</div>





{% endblock %}