<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add product</h1>
    <br><br>
    <form method="post">
        {% csrf_token %}
        <label for="">product name</label><input type="text" name="name" ><br>
        <label for="">product discription</label><input type="text" name="discription" ><br>
        <label for="">product price</label><input type="number" name="price" ><br>
        <label for="">product quantity</label><input type="number" name="quantity" ><br>
        <label for="">product category</label><input type="text" name="category" ><br>
        <button type="submit">add product</button><br>
    </form>
    
</body>
</html>