{% extends 'the/baabtra.html' %}
{% load static %}
{% block content %}
<div style="padding-left: 200px; background-color:#00c3ff ; " >
    <br><br><br><br>
<h1 style="color: aliceblue; font-size: 38px; " >Placements</h1>
<h3 style="color: aliceblue;" >Baabtra has helped 1000+ freshers in Kerala to start their career as a software developer/programmer both in MNC’s like Oracle, <br> UST Global, Infosys, Cognizant etc and SME’s through our training/internship programs. Baabtra work as recruitment partner for <br> many IT Companies in hiring entry level talented programmers. Some of such companies are SRIT India Pvt Ltd, Sesame, Nucore, <br> Limenzy Technologies, Xpertcube, Vinam Solutions, IOSS, Zoondia, Minimalister, Wiinnova, Software Associates, Limner Consulting <br> LLP, ihits technologies,HyperBlox India Pvt.Ltd, BrainBox, Kaiser Haus etc</h3>
<br><br><br><br>
</div>
<img src="{% static 'images/Capture.PNG' %}" style="width: 1200PX;padding-left: 150PX; " alt="">
<img src="{% static 'images/anu.PNG' %}" style="width: 1200px; padding-left: 130px;" alt="">
{% endblock %}