<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product details</h1>
    <br><br><br>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>User_id</th>
            <th colspan="2" >operations</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.discription}}</td>
            <td>{{i.price}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.catagory}}</td>
            <td>{{i.user_id}}</td>
            <td><a href="updateproduct/{{i.id}}"><button type="button">update</button></a></td>
            <td><a href="delete/{{i.id}}"><button type="button">delete</button></a></td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>